/LISTA3/PedraPapelTesoura/nbproject/private/
/LISTA3/PedraPapelTesoura/build/
/LISTA3/Divisores/nbproject/private/
/LISTA3/Divisores/build/
/LISTA3/Emprestimo/nbproject/private/
/LISTA3/Emprestimo/build/
/DB/AulaJavaMysql/target/
